.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.right {
  display: flex;
  gap: 8px;
}

/* 모바일은 유저명만 보여줌줌 */
@media (max-width: 480px) {
  .button {
    display: none;
  }
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .header {
    height: 100px;
  }
  .logo {
    display: none;
  }
  .header {
    justify-content: right;
  }
}
